{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Project{% endblock title %}
{% block contents %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    
                    <h4 class="card-title mb-4">Update Project</h4>
                    <form id="project_form" method="post">
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field.errors }}
                            {{ hidden_field }}
                        {% endfor %}
                        {% csrf_token %}
                        {{ form.non_form_errors }}
                        {% block client %}
                            <!-- {% if client %} 
                            <div id="client_id" client-id="{{ client.id }}" hidden></div>
                            <div id="client_contact_ids" client-contact-id="{{ current_contact.ids }}" hidden></div>
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label">Client</label>
                                <div class="col-md-10">
                                    {{ client.name }}
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label">Contact</label>
                                <div class="col-md-10">
                                    <select name="contact_person" required="" id="id_contact_person" multiple>
                                        {% for c in all_contacts %} 
                                        {% if c in current_contacts %} 
                                        <option value="{{ c.id }}" selected>{{ c.name }}</option>
                                        {% else %}
                                        <option value="{{ c.id }}">{{ c.name }}</option>
                                        {% endif %} 
                                        {% endfor %} 
                                      </select>
                                </div>
                            </div>
                            
                            {% endif %} -->
                        {% endblock %}
                        {% for field in form %}
                            {{ field.errors }}
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label">{{ field.label_tag }}</label>
                                <div class="col-md-10">
                                    {{ field }}
                                </div>
                            </div>
                             
                        {% endfor %}
                        {% if update %}
                            <button class="btn btn-primary btn-lg waves-effect waves-light" type="submit">Update</button>
                        {% else %}
                            <button class="btn btn-primary btn-lg waves-effect waves-light" type="submit">Create</button>
                        {% endif %}
                    </form>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    
{% endblock %}

<!-- {% block extra_javascript %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $(document).ready(function(){
        var client_id = $("#client_id").attr("client-id");
        var current_contacts = $("#client_contact_ids").attr("client-contact-ids")
        console.log(client_id);
        console.log(window.location.origin+"{% url 'clients:ajax_load_client_contacts' %}"+'?client='+client_id+'&current_contacts='+current_contacts);
        $.ajax({
            url : window.location.origin+"{% url 'clients:ajax_load_client_contacts' %}"+'?client='+client_id+'&current_contacts='+current_contacts,
            success: function (data) { 
                $("#id_contact_person").html(data);
            }
        });
    });
  </script>
{% endblock %} -->