{% extends 'partials/base.html' %}
{% load static %}
{% block title %}{{ project.title|title }}{% endblock title %}

{% block contents %}


<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h4>Project Details</h4>
                <a href="{% url 'projects:project_update' pk=project.id %}" role="button" class="btn btn-outline-primary waves-effect waves-light">
                    <i class="mdi mdi-account-edit"></i>
                </a>
                <table class="table table-wrap mb-0">
                    <tr>
                        <td><b>Project</b></td>
                        <td><a href="{{ project.client.get_absolute_url }}">{{ project.client.name|title }}</a></td>
                    </tr>
                    <tr>
                        <td><b>Title</b></td>
                        <td><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></td>
                    </tr>
                    <tr>
                        <td><b>Contact Person</b></td>
                        <td>{% for person in project.contact_person.all %}
                            <a href="{{ person.get_absolute_url }}">{{ person.name|title }}</a> ({{ person.contact_number }})
                            {% endfor %}
                        </td>
                        <!-- <td>{{ project.contact_person.name }} ({{ project.contact_person.contact_number }})</td> -->
                    </tr>
                    <tr>
                        <td><b>Project Status</b></td>
                        <td>{{ project.status.status }}</td>
                    </tr>
                    <tr>
                        <td><b>Description</b></td>
                        <td>{{ project.description }}</td>
                    </tr>
                    <tr>
                        <td><b>Delivery Address</b></td>
                        <td>{{ project.delivery_address }}</td>
                    </tr>

                </table>    
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Inward Material</h4>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-sm-end">
                            <a href="{{ project.create_inward_challan_url }}" role="button" class="btn btn-outline-primary waves-effect waves-light">
                                New
                            </a>
                        </div>
                    </div>
                </div>
                
                <table id="table" class="table wrap">
                    <tr>
                        <th>Date</th>
                        <th>Challan</th>
                        <th>Action</th>
                    </tr>
                    {% for ic in project.imchallan_set.all %} 
                    <tr>
                        <td>{{ ic.date }}</td>
                        <td><a href="{{ ic.get_absolute_url }}">{{ic.challanNo}}</a></td>
                        <td>
                            <a href="{{ ic.get_delete_url }}" 
                            title="Delete"
                            class="btn btn-outline-danger waves-effect waves-light" 
                            onclick="return confirm('Are you sure you want to delete this Challan?');">
                                <i class="dripicons-cross"></i>
                            </a></td>
                    </tr>
                    {% empty %} 
                    <tr>
                        <td rowspan="3">No Inward Material yet</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>


        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h4>Deliveries</h4>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-sm-end">
                            <a href="{{ project.create_challan_url }}" role="button" class="btn btn-outline-primary waves-effect waves-light">
                                New
                            </a>
                        </div>
                    </div>
                </div>
                
                <table id="table" class="table wrap">
                    <tr>
                        <th>Date</th>
                        <th>Challan</th>
                        <th>Action</th>
                    </tr>
                    {% for dc in project.deliverychallan_set.all %} 
                    <tr>
                        <td>{{ dc.date }}</td>
                        <td><a href="{{ dc.get_absolute_url }}">{{dc.challanNo}}</a></td>
                        <td>
                            <a href="{{ dc.get_pdf_url }}" 
                            title="Print"
                            class="btn btn-outline-primary waves-effect waves-light" target="_blank">
                                <i class="dripicons-print"></i>
                            </a>
                            <a href="{{ dc.get_return_url }}"
                            title="Return"
                            class="btn btn-outline-primary waves-effect waves-light" >
                                <i class="dripicons-return"></i>
                            </a>
                            <a href="{{ dc.get_delete_url }}" 
                            title="Delete"
                            class="btn btn-outline-danger waves-effect waves-light" 
                            onclick="return confirm('Are you sure you want to delete this Challan?');">
                                <i class="dripicons-cross"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %} 
                    <tr>
                        <td rowspan="2">No delivery yet</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4>Project Files</h4>
                
                <table id="table" class="table wrap">
                    <tr>
                        <th>File</th>
                        <th>Action</th>
                    </tr>
                    {% for file in project.projectfiles_set.all %}
                    <tr>
                        <td>
                            <a href="../..{{ file.get_file_url }}" target="_blank" rel="noreferrer noopener">{{ file.get_file_name }}</a>
                        </td>
                        <td>
                            <a href="{{ file.get_delete_url }}" role="button" 
                            title="Delete"
                                class="btn btn-outline-danger waves-effect waves-light" 
                                onclick="return confirm('Do you really want to delete {{ file.get_file_name }}');">
                                <i class="dripicons-cross"></i>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4>Upload Files</h4>
                <form action="{% url 'projects:upload' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" id="project_id" name="project_id" value="{{ project.id }}">
                {% for field in fileForm %}
                            {{ field.errors }}
                    <div class="mb-3 row">
                        <label for="example-text-input" class="col-md-2 col-form-label">{{ field.label_tag }}</label>
                        <div class="mb-3">
                            {{ field }}
                        </div>
                    </div>
                        
                        {% endfor %}
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Upload Files</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4>Raw Materials</h4>
                            </div>
                            <div class="col-sm-4">
                                <div class="text-sm-end">
                                    <a href="{{ project.get_raw_return_url }}" role="button" class="btn btn-outline-primary waves-effect waves-light">
                                        Return
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        {% if materials %}
                        <table class="table">
                            <tr>
                                <th>
                                    Material
                                </th>
                                <th>
                                    Quantity
                                </th>
                            </tr>
                            {% for m,q in materials.items %} 
                            <tr>
                                <td>{{ m }}</td>
                                <td>{{ q }}</td>
                            </tr>
                            {% endfor %} 
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4>Products</h4>
                        {% if products %} 
                        <table class="table">
                            <tr>
                                <th>Product</th>
                                <th>Qty</th>
                                <th>Delivered</th>
                                <th>Returned</th>
                                <th>Remaining</th>
                            </tr>
                            {% for _,pr in products.items %} 
                            <tr>
                                <td><a href="#" onclick="showhide('p_product_{{ p }}');">{{ pr.0.name }}</a>
                                    <p id="p_product_{{ p }}" style="display: none">{{ pr.0.description }}</p>
                                </td>
                                <td>{{ pr.1 }} </td>
                                <td>{{ pr.2 }}</td>
                                <td>{{ pr.3 }}</td>
                                <td>{{ pr.4 }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4>Timeline</h4>
            </div>
            
            <div class="card-footer bg-transparent border-top border-bottom">
                <div class="contact-links d-flex font-size-20">
                    <div class="flex-fill">
                        <a class="mylink" href="javascript: $('.verti-timeline li').show();" style="color:#556ee6" ><i class="mdi mdi-filter-off"></i>   All</a>
                    </div>
                    <div class="flex-fill">
                        <a class="mylink" href="javascript: $('.verti-timeline li').show();$('.verti-timeline li').not('._project').hide();"  style="color:#556ee6"><i class="mdi mdi-file-document-edit"></i>Project</a>
                    </div>
                    <div class="flex-fill">
                        <a class="mylink" href="javascript: $('.verti-timeline li').show();$('.verti-timeline li').not('._material').hide();" style="color:#556ee6"><i class="mdi mdi-truck"></i>Material</a>
                    </div>
                    <div class="flex-fill">
                        <a class="mylink" href="javascript: $('.verti-timeline li').show();$('.verti-timeline li').not('._product').hide();" style="color:#556ee6"><i class="mdi mdi-truck-check-outline"></i>Product</a>
                    </div>
                </div>
            </div>
            
            <div class="card-body">
                
                <ul class="verti-timeline list-unstyled">
                    {% for tl in project.projecttimeline_set.all %} 
                    <li class="event-list _{{ tl.type|lower}}">
                        <div class="event-timeline-dot">
                            <i class="bx bx-right-arrow-circle"></i>
                        </div>
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                            {% if tl.type == 'project' %} 
                            <i class="mdi mdi-file-document-edit"></i>
                            {% elif tl.type == 'material' %} 
                            <i class="mdi mdi-truck"></i>
                            {% elif tl.type == 'product' %} 
                            <i class="mdi mdi-truck-check-outline"></i>
                            {% else %} 
                            <i class="mdi mdi-file-document-edit"></i>
                            {% endif %}
                                
                            </div>
                            <div class="flex-grow-1">
                                <div>
                                    <h5>{{ tl.user }} {{ tl.created_at }}</h5>
                                    <p class="text-muted">{{ tl.notes|safe }}</p>
                                    <p class="text-muted"><a href="../..{{ tl.project_file.get_file_url }}" target="_blank" rel="noreferrer noopener">{{ tl.project_file.get_file_name }}</a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul> 
            </div>
        </div>
    </div>
</div> 
    

    
{% endblock %}
{% block extra_javascript %}
<script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

    <!-- toastr plugin -->
    <script src="{% static 'libs/toastr/build/toastr.min.js' %}"></script>

    {% if messages %}
        {% for message in messages %}
        <script> window.addEventListener("load", (event) => {toastr.info(message);});</script>
        {% endfor %}
{% endif %}
<script src="{% static 'libs/dropzone/dist/min/dropzone.min.js' %}"></script>
<script>
    function showhide(idx){
        var e = document.getElementById(idx);
        e.style.display = ((e.style.display!='none') ? 'none' : 'block');
    }
    function show(e){
        if (e == '_all'){
            
        }
    }
</script>   
{% endblock %}