{% extends 'partials/base.html' %}
{% load static %}
{% block title %}New Project{% endblock %}
{% block contents %}
    
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title mb-4">New Project</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="example-text-input"  class="form-label">Client</label> 
                                        <div class="col-md-10">
                                            <select name="client" class="form-control" id="id_client">
                                                <option value="" selected="">---------</option>
                                                {% for client in clients %} 
                                                <option value="{{ client.id }}" >{{ client.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="id_contact_person" class="form-label">Contact person:</label>
                                        <div class="col-md-10">
                                            <select name="contact_person" class="form-control" required="" id="id_contact_person" multiple=""><option value="" disabled="">--------</option></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="id_title" class="form-label">Title:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="title" maxlength="100" required="" id="id_title">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="id_description" class="form-label">Description:</label>
                                        <div class="col-md-10">
                                            <textarea name="description" class="form-control" cols="40" rows="4" required="" id="id_description"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="id_status" class="form-label">Status:</label>
                                        <div class="col-md-10">
                                            <select name="status" class="form-control" required="" id="id_status">
                                                <option value="" selected="">---------</option>
                                                {% for status in statuses %} 
                                                <option value="{{ status.id }}">{{ status.status }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="id_delivary_address" class="form-label">Delivary address:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="delivary_address" maxlength="200" required="" id="id_delivary_address">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body" id="products">
                            <div class="row mb-2">
                                <div class="col-lg-6">
                                    <div class="search-box me-2 mb-2 d-inline-block">
                                        <div class="position-relative">
                                            <h2>Products</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="text-sm-end">
                                        <a role="button" class="btn btn-outline-primary waves-effect waves-light" onclick="add_product()">
                                            Add Product
                                        </a>
                                    </div>
                                </div>
                            </div><!-- end col-->
                            <table id="products" class="table mb-0">
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Description</th>
                                    <th>Delete</th>
                                </tr>
                                <tr>
                                    <td><input type="text" name="product_name_1" id="product_name_1" class="form-control" required></td>
                                    <td><input type="number" name="product_qty_1" id="product_qty_1" min="0" value="0" step=".01" class="form-control" required></td>
                                    <td><textarea name="product_description_1" id="product_description_1" cols="30" rows="2" class="form-control" required></textarea></td>
                                    <td>
                                        
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>  
                    <button type="submit" class="btn btn-outline-primary waves-effect waves-light">Create Project</button>
                </form>
            </div>
        </div>
    </div>
</div>

    
    
{% endblock %}

{% block extra_javascript %}
    
    <script type="text/javascript">
        function showAddPopup(triggeringLink) {
            href = triggeringLink.href;
            var win = window.open(href, '_blank', 'height=500,width=800,resizable=yes,scrollbars=yes');
            win.focus();
            return false;
        }
        function closePopup(win, newID, newRepr, id) {
            $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
            win.close();
        }
        const addMoreBtn = document.getElementById('add-more')
        const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
        
        addMoreBtn.addEventListener('click', add_new_form)
        function add_new_form(event) {
            if (event) {
                event.preventDefault()
            }
            const currentMaterialForms = document.getElementsByClassName('material-form')
            const currentFormCount = currentMaterialForms.length // + 1
            const formCopyTarget = document.getElementById('material-form-list')
            const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
            copyEmptyFormEl.setAttribute('class', 'material-form')
            copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
            const regex = new RegExp('__prefix__', 'g')
            link = copyEmptyFormEl.querySelector("#add_category")
            link.href = link.href.replace(regex,currentFormCount)
            copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
            totalNewForms.setAttribute('value', currentFormCount + 1)
            copyEmptyFormEl.style.display = "block"
            // now add new empty form element to our html form
            formCopyTarget.append(copyEmptyFormEl)
        }
        function add_product(){
            
            var n = r = (Math.random() + 1).toString(36).substring(7);
            var row = '<tr>\
                                    <td><input type="text" name="product_name_rowNo" id="product_name_rowNo" class="form-control" required></td>\
                                    <td><input type="number" name="product_qty_rowNo" id="product_qty_rowNo" min="0" value="0" step=".01" class="form-control" required></td>\
                                    <td><textarea name="product_description_rowNo" id="product_description_rowNo" cols="30" rows="2" class="form-control" required></textarea></td>\
                                    <td>\
                                        <a role="button" \
                                            class="btn btn-outline-danger waves-effect waves-light" \
                                            onclick="$(this).parent().parent().remove();">\
                                        <i class="mdi mdi-delete"></i></a>\
                                    </td>\
                                </tr>'.replace(new RegExp('rowNo', 'g'),n.toString())
            $("#products > tbody").append(row)
            console.log(row)
            
        }
    
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  $(document).ready(function(){
      $("#id_contact_person").html('<option value="" disabled>--------</option>');
  })
  $("#id_client").change(function () {
    var client_id = $('#id_client').find(":selected").val();  // get the selected country ID from the HTML input
    var url = window.location.origin+"{% url 'clients:ajax_load_client_contacts' %}"+'?client='+client_id;  // get the url of the `load_cities` view
    $.ajax({                       // initialize an AJAX request
      url: url,
      success: function (data) { 
        $("#id_contact_person").html(data);  // replace the contents of the city input with the data that came from the server
      }
    });

  });
</script>
{% endblock %}